<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav navbar-collapse">
      <li class="nav-item"><a *ngIf="authenticationService.isUserLoggedIn()"
             routerLink="/welcome/azad" class="nav-link">Home</a></li>
      <li class="nav-item"><a *ngIf="authenticationService.isUserLoggedIn()"
             routerLink="/todos" class="nav-link">Todos</a></li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li class="nav-item"><a *ngIf="authenticationService.isUserLoggedIn()"
             routerLink="/login" class="nav-link">Login</a></li>
      <li class="nav-item"><a *ngIf="authenticationService.isUserLoggedIn()"
             routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>
  </nav>
</header>
